*{font-family:sans-serif;}

#settings { 
    display: block; 
    text-align:center
}


#paint {
    border: 1px solid black; 
    background : #333333; 
    margin-left: auto; 
    margin-right: auto; 
    display: block;
}