
.DS_Store
.vs_code/

*.py[cod]
*/__pycache__/
*.ipynb_checkpoints/
*.egg-info/

*/package-lock.json
*/node_modules/

*/static/
js/dist/

setup.orig.py
setup.orig2.py

notebooks/*.html
notebooks/*.sh
notebooks/*.js

dist/
build/

*/*.tgz
package/

*.old*
*test*
js/temp.*

