
# js
recursive-include jupyter_widget_pivot_table/static *.*

# subfolders
recursive-include jupyter_widget_pivot_table/api *.json
recursive-include jupyter_widget_pivot_table/data *.csv
recursive-include jupyter_widget_pivot_table/markdown *.md

# Misc
include requirements.txt
include LICENSE
global-exclude *.py[co]
