
# js
recursive-include ipypivot/static *.*

# subfolders
recursive-include ipypivot/api *.json
recursive-include ipypivot/data *.csv
recursive-include ipypivot/markdown *.md

# Misc
include requirements.txt
include LICENSE
global-exclude *.py[co]
