# note necessary as covered by setup data_files
recursive-include jupyter_widget_pivot_table/static *.*

# subfolders
recursive-include jupyter_widget_pivot_table/api *.json
recursive-include jupyter_widget_pivot_table/data *.csv
recursive-include jupyter_widget_pivot_table/markdown *.md

global-exclude *.py[co]

# Misc
include LICENSE
